/* @group undo defaults margins and paddings */

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* @end */
/*=================================================================================================================================================*/
html { 
	color: #000; 
	font-family: 'Courier New', sans-serif;
}

body { 
	font-size: 0.8em;
	padding: 20px 20px 20px 20px;
	margin: 0; 
	line-height: 1.6em;
	background-color:#ccc;
}

header {
    text-align:center;	
}

content {
	
}

nav {
	display: block;
	font-size: 1.2em;
	background-color: #abbac4;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #35434c;	
	margin-top:40px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	padding:10px 10px 10px 10px;
	width:200px;
	clear:both;
}
footer {
	font-size:0.7em;
    text-align: center;
	padding-bottom:10px;
	padding-top:20px;
	margin-top: 30px;
}
footer #element {
	display:inline;
	margin-right: 10px;
}

.left {
	text-align:left;
}
.right {
	text-align:right;
}
.small {
	font-size: 9px;
}


/*=================================================================================================================================================*/
#funktionL {
	margin-right: -30px;
}
#funktionR {
	margin-left: -30px;
}

#myGrid {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #4d0808;	
	margin: 10px auto 10px auto;
	padding: 0px 0px 20px 0px;
	width: 300px;
}

.gridElement {
	display:inline;
	width:120px;
	height:140px;
	margin: 0px 10px 0px 10px;
}
.gridElement img {
	width:50px;
}

#contact {
	display:none;
	color:#000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #4d0808;	
    text-align: left;
	background: rgba(255,255,255,0.80);
	background: #fff;
	padding: 10px 10px 10px 10px;
	margin-top:20px;
}

#contactLink {
	cursor: pointer;
}
#contactHideLink {
	cursor: pointer;
	display:none;
}

#closeContact {
	cursor: pointer;
	text-align:center;
	margin-top:20px;
}

#portfolio {
	display:none;
	color:#000;
    text-align: center;
	background: rgba(255,255,255,0.80);
	background: #fff;
	padding: 10px 10px 10px 10px;
	margin-top:20px;
}

#portfolioLink, #contactLink, #contactHideLink {
	padding-top:5px;
	padding-bottom:5px;
}

.portfolioHideLink {
	display:none;
	font-weight:bold;
}

#projekt {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #35434c;	
	background-color: #abbac4;
	padding: 10px 10px 10px 10px;
	min-height:130px;
	margin-top:20px;
}

#impressum {
	display:none;
	color:#000;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #4d0808;	
    text-align: left;
	background: rgba(255,255,255,0.80);
	background: #fff;
	padding: 10px 10px 10px 10px;
	margin-top:20px;
}
#impressumLink {
	display:inline;
	cursor: pointer;
}

#closeImpressum {
	cursor: pointer;
	text-align:center;
	margin-top:20px;
}

#videoBox {
	display:none;
	color:#000;
    text-align: center;
	padding: 10px 0px 10px 0px;
	margin-top:20px;
}
#videoBoxLink {
	cursor: pointer;
}
#videoBoxLinkPicture {
	cursor: pointer;
}
#videoBoxCloseLink {
	cursor: pointer;
	text-align:center;
	margin-top:20px;
}



#videoMeta {
	font-size:0.9em;
	font-style:italic;
	background:gray;
	padding: 5px 5px 5px 5px;
}

#projekt img {
	float:left;
}

#beschreibung {
	text-align:right;
}

#broeselStart {
	background-image: url(../bilder/system/bg_startseite.jpg);
	background-color: #000000;
	background-repeat: no-repeat;
	text-align: center;
}

#dashedContainer {
	background-color: #333333;
	border: 3px dashed lightgrey;
}


/*=================================================================================================================================================*/
/*=================================================================================================================================================*/


h1, h2, h3, h4, h5, h6 { 
	font-weight: bold;
}

h1 { 
	font-size: 1.5em;
	margin: 1em 0;
}

h2 {
	font-size: 1.3em;
	margin: 1em 0;
}

h3 { 
	font-size: 1.1em;
	line-height: 1.5;
}

h4 { font-size: 1em;
	line-height: 1.3;
}


a {
	color: #10315f;
	background: inherit;
	text-decoration:underline;
}

a:hover {
	color: #000;
	background: inherit;
	text-decoration:underline;
}


hr {
	color: #ffffff;
	height: 0.1px;
	border-bottom: 0.1px;
	border-bottom-style:dashed;
}

li {
    list-style-type:square;

}
table {
    font-size:1.1em;
    line-height: 1.3;
}
td {
	padding: 5px 5px 5px 5px;
	min-width: 5em;
	text-align: center;
}

img {
	border: none;
    margin-top:5px;
}

ul {
	
}









#thumbnail {
    width:80px;
}
#gallery {
    max-width:120px;
}
#imgInTextLeft {
    width:150px;
	clear: left;
	float:left;
	margin-right:15px;
}
#imgInTextLeftOhneBorder {
    width:150px;
	clear: left;
	float:left;
	margin-right:15px;
	border:none;
}
#imgInTextRight {
    width:150px;
	float:right;
	margin-right:10px;
}

input {
	font-size:1.2em;
	height:1.4em;
	width:30em;
}
input[type=submit] {
  width:12em;
  height:40px;
}

.button {
	width:10em;
	height:30px;
}
button.login {
	width:50px;
	height:10px;
}

#error, #error2, #error3 {
	display:none;
	color:red;
	font-size:1.2em
}

.needsfilled {
	border: 1px solid red;
	color:gray;
	font-size:1.2em;
}

#ajax-message {
	text-align:center;
}
#ajax-message2 {
	text-align:center;
}




